body {
  font-size: 12px;
  font-family: sans-serif;
  margin-top: 0px;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
}

.language {
  margin-left: 150px;
}

.top-menu {
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

.top-menu a {
  margin-right: 15px;
}

.booking {
  /*background-color: green;
  width: 100px;
  height: 30px;
  margin-top: -10px;
  margin-right: 25px;*/
}

.tog-menu {
  text-align: center;
  position: absolute;
  width: 100%;
  max-width: 200px;
  /*background-color: red;*/
}
ul {
  list-style: none;
  padding: 0;
  background: #93c7d6;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  border-radius: 3px;
  opacity: 0;
}

li a {
  padding: 12px 0;
  display: block;
}
li a:hover {
  background: #6fabbc;
}

a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
i {
  /*padding: 20px;*/
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  color: #6fabbc;
}
i:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.95);
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
ul.open {
  max-height: 480px;
  visibility: visible;
  opacity: 1;
  z-index: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.container {
  background-image: url(/img/banner_image.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  width: 100vw;
}

.col1 {
  float: left;
  width: 45%;
  padding: 10px;
  height: 300px;
  box-sizing: border-box;
  background-color: blue;
}

.col1 img {
  max-width: 80%;
  height: auto;
}

.col2 {
  float: left;
  width: 55%;
  padding: 10px;
  height: 300px;
  box-sizing: border-box;
  background-color: red;
}

/*Isto não sei para que serve, mas pode-se apagar depois?!?!?!?*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-gallery {
  width: 100vw;
}

.row-gallery img {
  /*max-width: 100%;*/
  height: auto;
}

.row-gallery-col1 {
  float: left;
  width: 33.3%;
  padding: 10px;
  height: 300px;
  box-sizing: border-box;
}

.row-gallery-col2 {
  float: left;
  width: 33.3%;
  padding: 10px;
  height: 300px;
  box-sizing: border-box;
}

.row-gallery-col3 {
  float: left;
  width: 33.3%;
  padding: 10px;
  height: 300px;
  box-sizing: border-box;
}

.row-gallery-col1 img,
.row-gallery-col3 img {
  /*width: 90%;
  height: 400px;
  object-fit: cover;
  object-position: 20% 0;*/
}

.row-gallery-col2 img {
  /*width: 90%;
  height: 400px;
  object-fit: cover;
  object-position: 20% 0;*/
  padding-bottom: 14%;
}

img#typeA {
  width: 95%;
  height: 300%;
  object-fit: cover;
  object-position: 20% 0;
}

img#typeB {
  width: 95%;
  height: 125%;
  object-fit: cover;
  object-position: 20% 0;
}

img#typeC {
  padding: 30px;
}

.seila {
  position: relative;
}

.evidencia {
  background-color: #ffffff;
  opacity: 0.8;
  width: 30%;
  bottom: 10%;
  position: absolute;
}
